.settings-box {
  position: absolute;
  top: '30%';
  left: '30%';  
  width: '40%';
  height: '40%';
  background-color: green;
}

.settings-box__update-buttons {
  display: flex; 
  flex-direction: column;
  justify-content: flex-end;
}

/* @media all and (min-width: 480px) {
    .settings-box {
      padding: 10px 0;
      margin: 0 auto;
      max-width: 480px;
    }
   
     .settings-box > .LoaderButton:first-child {
      margin-bottom: 15px;
    } 
  } */
/* 
  style={{ 
    display: 'flex', 
    flexDirection: 'column', 
    justifyContent: 'flex-end', 
    height: '100%', 
  }} */